template(name='home')
	div.container-fluid.text-center
		div.home-div
			div.module-div
				div.carousel
					div(data-src='/assets/img/carousel/1.jpg')
						div.camera_caption.fadeFromBottom Premium Lawn Care
					div(data-src='/assets/img/carousel/1.jpg')
						div.camera_caption.fadeFromBottom Plant Health Care
					div(data-src='/assets/img/carousel/1.jpg')
						div.camera_caption.fadeFromBottom Landscape Design

			
				div.mid-module-div
					p Get free estimate today!
