template(name='nav')
	nav.navbar.navbar-default.navbar-fixed-top
		div.container-fluid
			div.navbar-header.text-center
				a(href='#')
					span.brand PRIMAVERA
					br
					span.sub-brand LANDSCAPE SERVICES

