nav
	background -webkit-linear-gradient(#eee, #eee, #eee, rgba(238,238,238, 0.4 )) !important
	//background-color transparent !important
	//border-bottom 1px solid #ccc !important
	padding-top 10px !important
.brand
	font 100 22px/30px 'Roboto', sans-serif
	color #76FF03
	letter-spacing 3px
	text-shadow 1px 1px 1px rgba(0,0,0, 0.5 )
.sub-brand
	font 100 12px 'Roboto', sans-serif
	color #666
	letter-spacing 2px