template(name='footer')
	nav.bar.bar-tab
		a(href='#').tab-item
			span.icon.ion-ios-star
			span.tab-label Our Clients
		a(href='#').tab-item
			span.icon.ion-ios-people
			span.tab-label Meet the Team
		a(href='#').tab-item
			span.icon.ion-ios-help-outline
			span.tab-label Help
